---
layout: default
---
<style type="text/css" media="screen">
  .post-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  .post {
    padding-bottom: 50px;
  }
  .post-image {
    width: 500px;
  }
  .post-header {
    margin: 0;
    margin-top: 15px;
  }
</style>

<ul class="post-list">
  {% assign posts = site.posts | where: "type", page.post_type %}
  {% for post in posts %}
    <li class="post">
      <h2 class="post-header">
        {{ post.title | escape }}
      </h2>
      {% if page.show_post_date %}
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
      {% endif %}
      <div>
        {{ post.content }}
      </div>
      <img class="post-image" src="{{ post.image_url }}" />
    </li>
  {% endfor %}
</ul>
